<!DOCTYPE html>
<html>
<head>
  <title>Mintmo</title>
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= flash[:errors].join("<br>") unless flash[:errors].nil? %>
  <%= flash[:message].join("<br>") unless flash[:message].nil? %>

<%= yield %>

</body>
</html>
